<p>Client List</p>
<div class="container mt-4">
    <div class="row mb-3">
      <div class="col-md-8">
        <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Search clients...">
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="searchClients()">Search</button>
      </div>
    </div>
</div>
<br><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id Client</th>
            <th>Nom Client</th>
            <th>Prenom Client</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{ client.id }}</td>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
               <td>
                <button (click) = "updateClient(client.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteClient(client.id)" class = "btn btn-danger"  style="margin-left: 10px" > Delete</button>
            </td>
        </tr>
    </tbody>
</table>

