<div class="col-md-6 offset-md-3">
    <h3>Create Client</h3>
    <form (ngSubmit)="onSubmit()">
        <br><br>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom"
                [(ngModel)]="client.nom" name="nom"
                placeholder="Enter votre Nom" title="Enter votre Nom">
                
        </div>
        <br>
    
        <div class="form-group">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="prenom"
                [(ngModel)]="client.prenom" name="prenom"
                placeholder="Enter votre Prenom" title="Enter votre Prenom">
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    
    </form>
</div>
