<div class="container mt-4">
    <h2>Liste des Produits Commande</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id Commande</th>
          <th>Date Commande</th>
          <th>Id Produit</th>
          <th>Nom Produit</th>
          <th>Quantite en Stock</th>
          <th>Prix</th>
          <th>Quantite Commande</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ligneCommande of ligneCommandes">
          <td>{{ ligneCommande.commandes.id }}</td>
          <td>{{ ligneCommande.commandes.date | date }}</td>
          <td>{{ ligneCommande.produits.id }}</td>
          <td>{{ ligneCommande.produits.nom }}</td>
          <td>{{ ligneCommande.produits.quantiteStock }}</td>
          <td>{{ ligneCommande.produits.prix }}</td>
          <td>{{ ligneCommande.quantite }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="ajouterLDC(id)" class="btn btn-info">Ajouter un produit</button>
  </div>